.game-div{
    height: 60vh;
    width: 100%;
    max-width: 300px;
}

.game-div .pieces{
    height: 55%;
    display: flex;
    padding-top: 3rem;
    padding-bottom: .5rem;
    justify-content: space-between;
}

.une-piece{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.une-piece div{
    width: 80%;
}

.une-piece p{
    color: white;
    font-size: .9rem;
    font-weight: 600;
}

.piece-vide{
    background: linear-gradient(to bottom,#1a2946, #192744);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}


.game-div .result{
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
}

.result p{
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.result .btn-play-again{
    background-color: white;
    margin-top: 7px;
    width: 12rem;
    height: 2.6rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px;
    color: var(--clr-background-b);
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (min-width:1000px) {
    .game-div{
        /* background-color: aliceblue; */
        width: 100%;
        max-width: none;
        display: flex;
        justify-content: center;
        padding: 1.5rem;
    }

    .game-div.end-of-game{
        position: relative;
    }

    .game-div .pieces{
        width: 100%;
        height: 100%;
        display: flex;
        padding:0;
        /* ici ca change dynamiquement */
        justify-content: center;
    }

    .game-div.end-of-game .pieces{
        justify-content: space-between;
        padding-inline: 5rem;
    }

    .une-piece{
        width: 300px;
        justify-content: end;
        position: relative;
        margin-inline: 1rem;
    }

    .une-piece p{
        position: absolute;
        top: 1rem;
        letter-spacing: 1px;
        font-size: 1.4rem;
    }

    .game-div .result{
        position: absolute;
        padding:0;
        top: 44%;
        right: 0;
        left: 0;
    }

    .result .btn-play-again:hover{
        color: var(--clr-rock-b);
        font-weight: 700;
    }
}